*{
    margin: 0px;
    padding: 0px;
}


nav{
    font-size: 1.2rem;
    background-color: white;
    position: fixed;
   
    height: 8%;
    width: 100%;
    z-index: 1;
    text-align: center;
    
    
}



nav ul li{
    display: inline-block;
    padding: 10px 10px;
    
}

li:last-child{
    position: absolute;
    right: 20px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(16, 15, 15);
}
a:hover{
    color: orange;
}
.banner{
   
    background-image: url(banner-bg.webp);
    height: 80vh;
    width:100vw;
   
}
#div1{
     
    /*color:black; 
    /* display: flex;
    justify-content: center;
    align-items: center;  */
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  
}
span{
    color: orange;
}
 #div2{
    
    color:grey ;

} 
#btn{
    padding:10px;
    margin: 20px;
    width: 100px;
}
#btn:hover{
    background-color: orange;
    border: 2px solid black;
}
#reviews{
   text-align: center;
   height: 100px;
}
.span1{
    background-color: orange;
    color: white;
}
#div4{
    background-color:   rgba(176, 173, 173, 0.9);
    height: 200px;
    
}
#ppl{
    border-radius: 50px;
    height: 80px;
    margin-top: 10px;
    text-align: center;
}
#para1{
    font: bolder;
    font-size: 50px;
}